body {
  justify-content: center;
  font-family: Helvetica;
}
header {
  display: flex;
  background-color: black;
  text-align: center;
  padding-left: 15%;
  width: 100%;
  color: white;
  height: 100px;
  align-items: center;
  text-indent: 1cm;
  text-transform: uppercase;
  font-size: 2em;
  margin: auto;
  }
.logo {
  display: flex;
  height: 30px;
  flex-grow: 1;
}

h1 h4 {
  font-size: 4em;
}
.background {
  display: flex;
  background-image: url("../images/background.jpeg");
  background-repeat: no-repeat;
  background-position: relative;
  width: 100%;
  height: 721px;
  margin: 0 auto;
  background-size: cover;
}
.background #arrival {
  display: flex;
  margin-left: 15%;
  margin-top: 200px;
  margin-bottom: 10px;
  background-color: black;
  color: white;
  justify-content: center;
  width: 350px;
  height: 175px;
  padding: 30px;
  flex-direction: column;

}
.background #arrival h4  {
  font-size: 1.25em;
  color: white;
  word-spacing: 0.15cm;
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  font-weight: normal;
}
.background #arrival h1 {
  display: flex;
  font-size: 2.15em;
  word-spacing: 0.25em;
  color: white;
  align-items: center;
  font-weight: bold;
}
nav {
  display: flex;
  height: 100px;
  width: 100%;
  background-color: firebrick;
  color: white;
  align-items: center;
  word-spacing: 1cm;
  font-size: 2em;
  justify-content: space-around;
}
.products {
  width: 100%;
  height: 721px;
  flex-flow: row nowrap;
  align-items: center;
  font-size: 2em;
  font-weight: normal;
}
 p {
  background-position: absolute;
  top: 100%;
  background-color: black;
  margin-top: 450px;
  width: 100%;
  height: 100px;
  text-align: center;
  color: white;
}
.products #pen {
  background-image: url("../images/pen.png");
  background-position: center;
  display: inline-block;
  border: 5px solid black;
  height: 550px;
  width: 450px;
  margin-left: 15%;
  background-repeat:no-repeat;
  margin-top: 50px;
}
  .products #watch {
  background-image: url("../images/watch.png");
  background-position: center;
  display: inline-block;
  border: 4px solid black;
  height: 550px;
  width: 450px;
  margin-left: 15%;
  background-repeat:no-repeat;
  margin-top: 50px;
  text-align: center;
  justify-content: flex-end;
}
.products #glasses {
  background-image: url("../images/glasses.png");
  background-position: center;
  display: inline-block;
  border: 4px solid black;
  height: 550px;
  width: 450px;
  margin-left: 15%;
  background-repeat:no-repeat;
  margin-top: 50px;
  text-align: center;
  justify-content: flex-end;
}
